<template>
  <div> 
    <div class="col">
        <table border="1">
            <thead>
                <td v-for="val in Object.keys(values[0])" :key="val">{{val}}</td>
            </thead>
            <tbody>
                <tr v-for="value in values" :key="value">
                    <td v-for="item in value" :key="item">{{ item }}</td>
                </tr>
            </tbody>
        </table>
    </div>
  </div>
</template>

<script>
import Vue from "vue";
import axios from 'axios';
import { BootstrapVue, IconsPlugin } from "bootstrap-vue";
import "bootstrap/dist/css/bootstrap.css";
import "bootstrap-vue/dist/bootstrap-vue.css";

const baseURL = process.env.NODE_ENV === 'development' ? 'http://130.193.48.169:9121/api/v1/' : process.env.PARAM === 'devmode' ? 'http://130.193.48.169:9121/api/v1/' : 'http://130.193.48.169:9121/api/v1/';

const instance = axios.create({
    baseURL
});
Vue.use(BootstrapVue);

export default {
    name: 'SqlTable',
    props:{
        task_value: Object,
        check_control_task: Boolean
    },
    data() {
        return {
            values: [{"Await": "please"}],
            is_true: false,
            sql_data: {
                number_of_sql_task: null,
                user_sql_row: null
            },
            errors: []
        }
    },
    methods: {
        async load_sql_data(){
            await instance({
                method: 'post',
                url: '/tasks/check/',
                data: this.sql_data
            }).then(resp =>{
                console.log(resp.data)
                this.values = resp.data.status
                this.is_true = resp.data.is_true
                //localStorage.setItem('token',resp.data.token)
            }).catch(e => {
                console.log(e)
                this.errors.push(e)
                alert(e.response.data.error)
            })
            console.log(this.check_control_task)
            let true_text = "Великолепно. Ответ правильный"
            let false_text = "Ответ неверный, попробуйте еще раз"
            if (this.check_control_task){
                if (this.is_true){
                    alert(true_text)
                }else{
                    alert(false_text)
                }
            }
        }
    },
    mounted() {
        if (this.task_value != null){
            this.sql_data.number_of_sql_task = this.task_value.id
            this.sql_data.user_sql_row = this.task_value.sql_query
            console.log("HELLO", this.sql_data)
            this.load_sql_data()
        }
    },
    watch: {
        is_true(){
            let true_text = "Великолепно. Ответ правильный"
            let false_text = "Ответ неверный, попробуйте еще раз"
            if (this.check_control_task){
                if (this.is_true){
                    alert(true_text)
                }else{
                    alert(false_text)
                }
            }
        }
    }
}
</script>
