<template>
    <div class="row">
        <div class="col" align="left">
            <div class="row-sm">
                <label>
                    Имя теста
                </label>
                <input v-model="test.name"/>
            </div>
            <div class="row-sm">
                <label>
                    Задачи
                </label>
                <select v-model="test.tasks" multiple> 
                    <option v-for="task in tasks_data" :key="task.id" v-bind:value="task.id">
                        {{ task.sql_query }}
                    </option>
                </select>
            </div>
            <div class="row-sm">
                <label>
                    Группы обучающихся
                </label>
                <select v-model="test.users_groups" multiple> 
                    <option v-for="users_group in users_groups_data" :key="users_group.id" v-bind:value="users_group.id">
                        {{ users_group.name }}
                    </option>
                </select>
            </div>
            <div class="row-sm">
                <label>
                    Дата и время начала теста
                </label>
                <datetime type="datetime" v-model="test.date_work_start"></datetime>
            </div>
            <div class="row-sm">
                <label>
                    Дата и время окончания теста
                </label>
                <datetime type="datetime" v-model="test.date_work_end"></datetime>
            </div>
            <div class="rom-sm">
                <button @click.stop="createTest(test)">
                    Создать тест
                </button>
            </div>
        </div>
    </div>
</template>

<script>
import { Datetime } from 'vue-datetime';
import axios from 'axios';
const baseURL = process.env.NODE_ENV === 'development' ? 'http://130.193.48.169:9121/api/v1/' : process.env.PARAM === 'devmode' ? 'http://130.193.48.169:9121/api/v1/' : 'http://130.193.48.169:9121/api/v1/';
import 'vue-datetime/dist/vue-datetime.css'

const instance = axios.create({
    baseURL
});
export default {
    name: "TestCreate",
    components: {
        datetime: Datetime
    },
    data() {
        return{
            tasks_data: [
                {id: "Ожидайте", sql_query: "Загружается"}
            ],
            users_groups_data: [
                {id: "Ожидайте", name: "Загружается"}
            ],
            test:{
                name: "",
                tasks: [],
                users_groups: [],
                date_work_start: "",
                date_work_end: ""
            }
        }
    },
    methods:{
        loadData(){
            let token = localStorage.getItem('token')
            instance({
                method: 'get',
                url: '/tasks/',
                headers: {'Authorization': `Token ${token}`}
            }).then(resp =>{
                this.tasks_data = resp.data
                //localStorage.setItem('token',resp.data.token)
            }).catch(e => {
                console.log(e)
                this.errors.push(e)
            })
            instance({
                method: 'get',
                url: '/educationgroups/',
                headers: {'Authorization': `Token ${token}`}
            }).then(resp =>{
                this.users_groups_data = resp.data
                //localStorage.setItem('token',resp.data.token)
            }).catch(e => {
                console.log(e)
                this.errors.push(e)
            })

        },
        createTest(test){
            let token = localStorage.getItem('token')
            instance({
                method: 'post',
                url: '/tests/',
                headers: {'Authorization': `Token ${token}`},
                data: test
            }).then(resp =>{
                alert("Тест создан")
                this.$router.push("/tests/")
                //localStorage.setItem('token',resp.data.token)
            }).catch(e => {
                console.log(e)
                this.errors.push(e)
            })
        }
    },
    mounted(){
        this.loadData()
    }
}
</script>