<template>
    <div>
        <div class="row-sm">
            <table border="1" width="100%">
            <tr>
                <th>
                    {{task_value.text_of_task}}
                </th>
                <th float="left">
                    <textarea
                    style='width:100%;height:inherit;box-sizing:border-box;'
                    rows="5"
                    cols="50"
                    placeholder="Введите SQL запрос"
                    id="name"
                    v-model="user_query"
                    name="usersqlquery"
                    />
                </th>
            </tr>
            <tr>
                <th>
                    <SqlTable :task_value="task_value" ></SqlTable>
                </th>
                <th>
                    <SqlTable v-if="answer_active" :task_value="user_task_value" :check_control_task="check_control_task"></SqlTable>
                </th>
            </tr>
        </table>
        </div>
        <div class="row-sm">
            <div class="col-sm">
                <button v-on:click="checkSQLQery(user_query)">Отправить ответ</button>
            </div>
            <div class="col-sm">
                 <button v-on:click="setAnswerActive()">Очистить таблицу</button>
            </div>
        </div>
    </div>
</template>

<script>

import Vue from "vue";
import axios from 'axios';
import { BootstrapVue, IconsPlugin } from "bootstrap-vue";
import "bootstrap/dist/css/bootstrap.css";
import "bootstrap-vue/dist/bootstrap-vue.css";
import SqlTable from './theSQLTable'

const baseURL = process.env.NODE_ENV === 'development' ? 'http://130.193.48.169:9121/api/v1/' : process.env.PARAM === 'devmode' ? 'http://130.193.48.169:9121/api/v1/' : 'http://130.193.48.169:9121/api/v1/';

const instance = axios.create({
    baseURL
});
Vue.use(BootstrapVue);

export default {
    name: "TaskTable",
    components:{
        SqlTable
    },
    props:{
        task_value: Object,
        check_control_task: Boolean
    },
    data(){
        return{
            user_query: null,
            answer_active: false,
            user_task_value: null
        }
    },
    methods:{
        checkSQLQery(user_query){
            console.log(user_query)
            this.user_task_value = {
                id: this.task_value.id,
                sql_query: user_query
            }
            console.log(this.user_task_value)
            this.answer_active = true
        },
        setAnswerActive(){
            this.answer_active = false
        }
    }
}
</script>