<template>
    <div>
        <h1>Tests</h1>
        <div class="row-sm">
            <button v-if="this.$parent.user.groups == this.allowed_groups" @click.stop="pushtoCretateTest()">
                Создать тест
            </button>
        </div>
        <div class="row-sm">
            <li v-for="test in tests" :key="test.id" @click.stop="onItemClick(test.id)">
                {{ test.name }}
            </li>
        </div>
    </div>
</template>

<script>

import axios from 'axios';
const baseURL = process.env.NODE_ENV === 'development' ? 'http://130.193.48.169:9121/api/v1/' : process.env.PARAM === 'devmode' ? 'http://130.193.48.169:9121/api/v1/' : 'http://130.193.48.169:9121/api/v1/';

const instance = axios.create({
    baseURL
});

export default {
    name: 'UserTests',
    data(){
        return {
            errors: [],
            tests: null,
            allowed_groups: "teachers"
        }
    },
    methods:{
        async load_test(){
            let token = localStorage.getItem('token')
            let test_url = '/tests/'
            if (this.$parent.user.groups == 'student'){
                test_url = '/profile/tests/'
            }
            await instance({
                method: 'get',
                url: test_url,
                headers: {'Authorization': `Token ${token}`}
            }).then(resp =>{
                this.tests = resp.data
            }).catch(e => {
                console.log(e)
                this.errors.push(e)
            })
            console.log(this.tests)
        },
        pushtoCretateTest(){
            this.$router.push(`/create/tests/`)
        },
        onItemClick(item_id){
            this.$router.push(`/tests/${item_id}`)
        }
    },
    mounted(){
        this.load_test()
    }
}
</script>