<template>
    <div class="col">
        <div class="row">
            <button v-on:click="OpenSchema()">
                Открыть схему базы данных
            </button>
        </div>
        <div class="row mt-2">
            <swiper ref="mySwiper" :options="swiperOptions">
            <swiper-slide v-for="task in tasks_array" :key="task">
                <div class="row ml-2">
                    {{tasks_array.indexOf(task)+1}}/{{tasks_array.length}}
                </div>
                <divv class="row ml-2">
                    <TaskTable :task_value="task" :check_control_task="check_control_task"></TaskTable>
                </divv>
            </swiper-slide>
        </swiper>    
        </div>
    </div>
</template>

<script>
import axios from 'axios';
import TaskTable from "./theTaskTable"

const baseURL = process.env.NODE_ENV === 'development' ? 'http://130.193.48.169:9121/api/v1/' : process.env.PARAM === 'devmode' ? 'http://130.193.48.169:9121/api/v1/' : 'http://130.193.48.169:9121/api/v1/';

const instance = axios.create({
    baseURL
});
export default {
    name: "TestDetail",
    components: {
        TaskTable,
    },
    data(){
        return{
            task_id: null,
            check_control_task: true,
            tasks_array: [],
            errors: [],
            swiperOptions: {
            pagination: {
                el: '.swiper-pagination'
                }
            }
        }
    },
    mounted(){
        this.task_id = this.$route.params
        instance({
            method: 'get',
            url: `profile/tests/${this.task_id.ID}/tasks/`,
            data: this.sql_data
        }).then(resp =>{
            console.log(resp.data)
            this.tasks_array = resp.data
            //localStorage.setItem('token',resp.data.token)
        }).catch(e => {
            console.log(e)
            this.errors.push(e)
        })
        this.mySwiper.slideTo(3, 1000, false)
    },
    computed: {
      swiper() {
        return this.$refs.mySwiper.$swiper
      }
    },
    methods:{
        OpenSchema(){
            window.open("http://130.193.48.169:9121/media/schema.jpg")
        }
    }
}
</script>