<template>
  <div id="app">
    <div>
      <div class="row">
        <div class="col-lg-2">
          <sidebar-menu :relative=true :menu="menu" :hideToggle="sid" @item-click="onItemClick"/>
        </div>
        <div class="col mt-3">
          <router-view/>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import Vue from "vue";
import axios from 'axios';

import { BootstrapVue, IconsPlugin } from "bootstrap-vue";
import "bootstrap/dist/css/bootstrap.css";
import "bootstrap-vue/dist/bootstrap-vue.css";

import VueSidebarMenu from 'vue-sidebar-menu'
import 'vue-sidebar-menu/dist/vue-sidebar-menu.css'
Vue.use(VueSidebarMenu)

// Install BootstrapVue
Vue.use(BootstrapVue);

const baseURL = process.env.NODE_ENV === 'development' ? 'http://130.193.48.169:9121/api/v1/' : process.env.PARAM === 'devmode' ? 'http://130.193.48.169:9121/api/v1/' : 'http://130.193.48.169:9121/api/v1/';
//const baseURL = process.env.NODE_ENV === 'development' ? 'http://130.193.48.169:9121/api/v1/' : process.env.PARAM === 'devmode' ? 'http://130.193.48.169:9121/api/v1/' : 'http://130.193.48.169:9121/api/v1/';
const instance = axios.create({
    baseURL
});

export default {
  name: 'App',
  data(){
    return {
      width: "100%",
      items: null,
      sid : true,
      is_login: false,
      token: '',
      user: null,
      added_menu_title : [],
      menu: [
              {
                header: true,
                title: 'TSQL',
                hiddenOnCollapse: true
              },

      ]
    }
  },
  components: {
    BootstrapVue,
    IconsPlugin
  },
  methods:{
    check_is_login(){
      if (localStorage.getItem('token') != null){
      this.is_login = true;
      this.menu.push({
                href: '/',
                title: 'Выйти'
              })
      this.added_menu_title.push('Выйти')
      this.menu.push({
                href: '/tests',
                title: 'Тесты'
              })
      this.added_menu_title.push('Тесты')
      if (localStorage.getItem('user') != null){
        this.user = JSON.parse(localStorage.getItem('user'))
        if(this.user.groups === "teachers"){
          this.menu.push({
                href: '/tasks',
                title: 'Задачи'
              })
          this.added_menu_title.push('Задачи')
        }
      }
    }else{
      this.menu.push({
        href: '/login/',
        title: 'Войти'
      })
      this.added_menu_title.push('Войти')
      this.menu.push(
        {
          href: '/registration',
          title: 'Регистрация'
        }
      )
      this.added_menu_title.push('Регистрация')
    };
    },
    clear_menu(){
      for(var i = this.menu.length - 1; i >= 0; i--) {
        let index_of_title_array = this.added_menu_title.indexOf(this.menu[i].title) != -1
        if (index_of_title_array){
          this.menu.splice(i, 1);
        }
      }
    },
    logout(){
      localStorage.removeItem('token')
      this.is_login = false
      this.clear_menu()
      this.check_is_login()
      this.is_login = false
      this.token = ''
    },
    onItemClick(event, item) {
      if (item.title === 'Выйти') {
        this.logout()
      }
    }
  },
  mounted(){
    this.check_is_login()
    if (localStorage.token){
      this.token = localStorage.token
    }
  },
  watch: {
    token(){
      this.clear_menu();
      if (this.is_login === true){
      this.menu.push({
                href: '/',
                title: 'Выйти'
              })
      this.added_menu_title.push('Выйти')
      this.menu.push({
                href: '/tests',
                title: 'Тесты'
              })
      this.added_menu_title.push('Тесты')
      if (localStorage.getItem('user') != null){
        this.user = JSON.parse(localStorage.getItem('user'))
        if(this.user.groups === "teachers"){
          this.menu.push({
                href: '/tasks',
                title: 'Задачи'
              })
          this.added_menu_title.push('Задачи')
        }
      }
    }else{
      this.menu.push({
        href: '/login/',
        title: 'Войти'
      })
      this.added_menu_title.push('Войти')
      this.menu.push(
        {
          href: '/registration',
          title: 'Регистрация'
        }
      )
      this.added_menu_title.push('Регистрация')
    }
    }
  }
}
</script>

<style>
#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}
</style>
