<template>
    <div class="col-sm mt-3">
        <p>
            <label for="username">Логин</label>
            <input
            id="name"
            v-model="user.username"
            type="text"
            name="username"
            >
        </p>
        <p>
            <label for="password">Password</label>
            <input
            id="name"
            v-model="user.password"
            type="password"
            name="password"
            >
        </p>
        <p>
            <input
            type="submit"
            value="Войти"
            v-on:click="loginUser(user)"
            >
        </p>
    </div>
</template>

<script>
import Vue from "vue";
import axios from 'axios';
import { BootstrapVue, IconsPlugin } from "bootstrap-vue";
import "bootstrap/dist/css/bootstrap.css";
import "bootstrap-vue/dist/bootstrap-vue.css";

const baseURL = process.env.NODE_ENV === 'development' ? 'http://130.193.48.169:9121/api/v1/' : process.env.PARAM === 'devmode' ? 'http://130.193.48.169:9121/api/v1/' : 'http://130.193.48.169:9121/api/v1/';

const instance = axios.create({
    baseURL
});
Vue.use(BootstrapVue);

export default {
    name: 'UserLogin',
    data() {
        return {
            errors: [],
            user: {
                username: null,
                password: null,
            }
        }
    },
    methods: {
        loginUser(user){
            const str = JSON.stringify(this.user);
            instance({
                method: 'post',
                url: 'users/auth/',
                data: user
            }).then(resp =>{
                localStorage.setItem('token',resp.data.token)
                localStorage.setItem('user',JSON.stringify(resp.data.user))
                this.$parent.token = localStorage.token;
                this.$parent.is_login = true;
                this.$router.push(`/`);
            }).catch(e => {
                console.log(e)
                this.errors.push(e)
                alert(e.response.data.non_field_errors)
                })
        }
    }
}
</script>
