<template>
<div class="container">
  <div class="row">
    <div class="col-sm">
      <form id="UserCreate">
          <div class="col-sm mt-3">
            <p>
                <label for="name">Имя</label>
                <input
                id="name"
                v-model="user.first_name"
                type="text"
                name="name"
                >
            </p>
            <p>
                <label for="username">Логин</label>
                <input
                id="login"
                v-model="user.username"
                type="text"
                name="username"
                >
            </p>
            <p>
                <label for="password">Password</label>
                <input
                id="password"
                v-model="user.password"
                type="password"
                name="password"
                >
            </p>
            <p>
                <label for="secondName">Фамилия</label>
                <input
                id="secondName"
                v-model="user.secondName"
                type="text"
                name="secondName"
                >
            </p>

            <p>
                <label for="email">Email</label>
                <input
                id="email"
                v-model="user.email"
                type="email"
                name="email"
                >
            </p>

            <p>
                <button
                v-on:click="createUser(user)"
                >Зарегестрироваться</button>
            </p>
          </div>
          <div class="col-sm mt-3">
            <p v-if="errors.length">
              <b>Пожалуйста исправьте указанные ошибки:</b>
              <ul>
                <li v-for="error in errors">{{ error }}</li>
              </ul>
              </p>
          </div>
        </form>
    </div>
  </div>
  
</div>
</template>

<script>
import Vue from "vue";
import { BootstrapVue, IconsPlugin } from "bootstrap-vue";
import "bootstrap/dist/css/bootstrap.css";
import "bootstrap-vue/dist/bootstrap-vue.css";

const baseURL = process.env.NODE_ENV === 'development' ? 'http://130.193.48.169:9121/api/v1/' : process.env.PARAM === 'devmode' ? 'http://130.193.48.169:9121/api/v1/' : 'http://130.193.48.169:9121/api/v1/';

const instance = axios.create({
    baseURL
});

// Install BootstrapVue
Vue.use(BootstrapVue);
import axios from 'axios';
export default {
  name: 'UserCreate',
  data() {
    return{
      errors: [],
      user: { 
          first_name: null,
          username: null,
          password: null,
          email: null,
          secondName: null
      }
    }
  },
  methods: {
    createUser(user) {

      instance({
        method: 'post',
        url: '/users/',
        data: user
      }).catch(e => {
          alert(e.response.data.non_field_errors)
        })
    },
    checkForm: function (e) {
      this.errors = [];

      if (!this.errors.length) {
        return true;
      }

      e.preventDefault();
    },
    validEmail: function (email) {
      var re = /^(([^<>()[\]\\.,;:\s@"]+(\.[^<>()[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
      return re.test(email);
    }
  }
}
</script>
