<template>
    <div class="container">
        <div class="row-sm">
            <div class="row-sm">
                <label class="label1">
                    Текст задачи
                </label>
                <textarea
                    label="Текст задачи"
                    rows="5"
                    v-model="task.text_of_task"
                />
            </div>
            <div class="row-sm">
                <label>
                    SQL запрос
                </label>
                <textarea
                    label="SQL запрос"
                    rows="5"
                    v-model="task.sql_query"
                />
            </div>
            <div class="row-sm">
                <div class="col-sm">
                    
                </div>
                <button v-on:click="createTask()">
                    Создать задачу
                </button>

                <button v-on:click="checkSQLQery(task.sql_query)">
                    Проверить запрос
                </button>
            </div>
            
        </div>
        <div class="row-sm">
            <SqlTable v-if="answer_active" :task_value="user_task_value"></SqlTable>
            
            <div class="col-sm">
                 <button v-on:click="setAnswerActive()">Очистить таблицу</button>
            </div>
        </div>
    </div>
</template>

<script>
import Vue from "vue";
import axios from 'axios';
import { BootstrapVue, IconsPlugin } from "bootstrap-vue";
import "bootstrap/dist/css/bootstrap.css";
import "bootstrap-vue/dist/bootstrap-vue.css";
import SqlTable from "@/components/tests/theSQLTable.vue"

const baseURL = process.env.NODE_ENV === 'development' ? 'http://130.193.48.169:9121/api/v1/' : process.env.PARAM === 'devmode' ? 'http://130.193.48.169:9121/api/v1/' : 'http://130.193.48.169:9121/api/v1/';
Vue.use(BootstrapVue);
const instance = axios.create({
    baseURL
});

export default {
    name: "TaskCreate",
    data(){
        return{
            task:{
                sql_query: null,
                text_of_task: null
            },
            user_query: null,
            answer_active: false,
            user_task_value: null
        }
    },
    components:{
        SqlTable
    },
    methods:{
        createTask(){
            instance({
                method: 'post',
                url: 'tasks/',
                data: this.task
            }).then(resp =>{
                this.$router.push(`tasks/`);
            }).catch(e => {
                alert.push(e)
                })
        },
        checkSQLQery(user_query){
            console.log(user_query)
            this.user_task_value = {
                sql_query: user_query
            }
            console.log(this.user_task_value)
            this.answer_active = true
        },
        setAnswerActive(){
            this.answer_active = false
        }
    }
}
</script>
