<template>
    <div>
        <h1>Tasks</h1>
        <button v-if="this.$parent.user.groups == this.allowed_groups" @click.stop="pushtoCretateTask()">
            Создать задачу
        </button>
        <li v-for="task in tasks" :key="task.id" @click.stop="onItemClick(test.id)">
                        id:{{task.id}} - Текст задачи: {{ task.text_of_task }}
        </li>
    </div>
</template>

<script>

import axios from 'axios';
const baseURL = process.env.NODE_ENV === 'development' ? 'http://130.193.48.169:9121/api/v1/' : process.env.PARAM === 'devmode' ? 'http://130.193.48.169:9121/api/v1/' : 'http://130.193.48.169:9121/api/v1/';

const instance = axios.create({
    baseURL
});

export default {
    name: 'Tasks',
    data(){
        return {
            errors: [],
            tasks: null,
            allowed_groups: "teachers"
        }
    },
    methods:{
        async load_tasks(){
            let token = localStorage.getItem('token')
            await instance({
                method: 'get',
                url: '/tasks/',
                headers: {'Authorization': `Token ${token}`}
            }).then(resp =>{
                this.tasks = resp.data
                //localStorage.setItem('token',resp.data.token)
            }).catch(e => {
                console.log(e)
                this.errors.push(e)
            })
            console.log(this.tests)
        },
        onItemClick(item_id){
            this.$router.push(`/tasks/${item_id}`)
        },
        pushtoCretateTask(){
            this.$router.push(`/tasks/create`)
        }
    },
    mounted(){
        console.log("user",this.$parent.user)
        this.load_tasks()
    }
}
</script>
